<section class="container-bg p-3 mt-3">
  <h1>You weren't supposed to be able to get here you know!</h1>
  <p>Use the navbar to go somewhere productive.</p>
  <div class="mt-3">
    <%= link_to "Go back to safety!", :back %>
  </div>
</section>